

<div class="container">
    <div class="row">
      <div class="col-sm-2">
      
      </div>
      <div class="col-sm-10">
      
          <div class="container"  class="dashboar">
              <div class="row" class="margin">
           
                <br/>
              
              </div>

              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alert">
                <strong>Mensaje del sistema:</strong> Se a eliminado un gasto!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss()"> 
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertPaysheet">
                <strong>Mensaje del sistema:</strong> Se elimino una nomina!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss()"> 
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertArturoExpense">
                <strong>Mensaje del sistema:</strong> Se elimino un gasto de arturo!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss()"> 
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                <br>
                <br>
                <br>

                <h4>Total: <h4>{{total}}</h4></h4>
                   
              <div class="row" class="margin">
                  <table class="table" >
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Tipo</th>
                          <th scope="col">Sub-tipo</th>
                          <th scope="col">Objecto</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let gasto of gastos">
                          <th scope="row">{{gasto.ExpenseID}}</th>
                          <td>{{gasto.Type}}</td>
                          <td>{{gasto.SubType}}</td>
                          <td>{{gasto.Object}}</td>
                          <td>{{gasto.Price}}</td>
                          <td>{{gasto.Date}}</td>
                          <td><button type="button" class="btn btn-outline-danger" (click)="deleteGasto(gasto)">Eliminar</button>-<button type="button" class="btn btn-outline-primary">Modificar</button></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <br>
              <br>
              <div class="row" class="margin">
                <table class="table" >
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let paysheet of paysheets">
                        <th scope="row">{{paysheet.PaysheetID}}</th>
                        <td>{{paysheet.Employee}}</td>
                        <td>{{paysheet.Payment}}</td>
                        <td>{{paysheet.Date}}</td>
                        <td><button type="button" class="btn btn-outline-danger" (click)="deletePaysheet(paysheet)">Eliminar</button>-<button type="button" class="btn btn-outline-primary">Modificar</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <br>
            <br>
            <div class="row" class="margin">
              <table class="table" >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Gasto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let arturoexpense of arturoexpenses">
                      <th scope="row">{{arturoexpense.ArturoExpenseID}}</th>
                      <td>{{arturoexpense.Expense}}</td>
                      <td>{{arturoexpense.Price}}</td>
                      <td>{{arturoexpense.Date}}</td>
                      <td><button type="button" class="btn btn-outline-danger" (click)="deleteArturoExpense(arturoexpense)">Eliminar</button>-<button type="button" class="btn btn-outline-primary">Modificar</button></td>
                    </tr>
                  </tbody>
                </table>
          </div>








            </div>
    
  
  

      </div>
    </div>
  </div>



 
  
        
  









